{% extends 'base.html.twig' %}

{% block title %}News Site{% endblock %}

{% block body %}

    <h1>Categories of News With Last News In It</h1>

    <div class="news_list" >

        {% for key,value in arrayCategoriesNews %}

            {% for category,news in value %}

               <dl>
                   <a href="{{ path('category',{'category': category }) }}"><h2>{{ category }}</h2></a>
               </dl>

                {% for news_name in news %}

                  <dt>{{ news_name }}</dt>

                {% endfor %}<br>

            {% endfor %}

        {% endfor %}

     </div>


{% endblock %}
