body {
  padding-top: 4rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.carousel-inner{
  height: 400px;
}

.carousel-caption{
  color: black;
}

.carousel-indicators li {
  background-color: rgb(150, 150, 150);
}

.carousel-indicators .active {
  background-color: rgb(0, 0, 0);
}

body h1{
  text-align: center;
  margin-top: 10rem;
}

body .news_list{
  margin-top: 7rem;
  text-align: center;
}


.pagination  {
  margin-top: 5rem;
  margin-left:auto;
  margin-right:auto;
  width: 21rem;
}



